<template>
  <v-col cols="12" md="6" lg="4" v-for="pokemon in list">
    <div class="card text-white mx-auto">
      <div class="pok-wrapper">
        <img :src="`/${pokemon}-b.png`" class="pok-cover" />
      </div>

      <div class="pok-info text-center">
        <span class="text-capitalize">{{ pokemon }}</span>
        <!-- <div class="d-flex justify-center ga-2 text-sm">
                <v-chip variant="flat" color="green"
                  >Planta</v-chip
                >
              </div> -->
      </div>
      <img :src="`/${pokemon}-f.png`" class="character" />
    </div>
  </v-col>
</template>

<script>
export default {
  data() {
    return {
      list: [
        "chikorita",
        "bayleef",
        "meganium",
        "cyndaquil",
        "quilava",
        "typhlosion",
        "totodile",
        "croconaw",
        "feraligatr",
      ],
    };
  },
};
</script>

<style>
:root {
  --card-height: 400px;
  --card-width: calc(var(--card-height) / 1.39);
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.pok-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pok-wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 10px !important;
  background-color: #F9DE7F;
}

.card:hover .pok-wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.pok-wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  border-radius: 10px !important;
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.3) 68%,
    rgba(12, 13, 19, 0.6) 97%
  );
}

.card:hover .pok-wrapper::after {
  opacity: 1;
}

.card:hover .pok-wrapper::after {
  height: var(--card-height);
}

.pok-info {
  opacity: 0;
  color: #fff;
  font-family: "flexo", "arial";
  font-size: 25px;
  transition: all 0.5s;
}
.card:hover .pok-info {
  opacity: 1;
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
</style>
