<template>
  <v-container class="px-16">
    <v-row class="text-center my-16">
      <v-col>
        <h1 class="text-grey-darken-4">Pokemon</h1>
        <p>Iniciales de Johto</p>
      </v-col>
    </v-row>

    <v-row class="my-10">
      <CardsPoke />
    </v-row>

    <v-row class="my-5">
      <v-col>
        <p class="text-center">
          Desarrollado con 💜 por japurecanonico - 2024
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
h1 {
  font-size: 50px;
  font-family: "unown", "arial";
}
</style>
