<template>
  <v-app>
    <v-main>
      <LayoutPoke />
    </v-main>
  </v-app>
</template>

<style>
@font-face {
  font-family: "flexo";
  src: url("fonts/flexo-regular.ttf");
}
@font-face {
  font-family: "unown";
  src: url("fonts/unown.ttf");
}
</style>
